jinja2
markdown
mkdocs
mkdocs-material
mkdocs-material-extensions
pygemnts
pymdown-extensions

babel
colorama
paginate
regex
requests

mkdocs-glightbox
mkdocs-get-deps
mkdocs-minify-plugin
mkdocs-git-committers-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-rss-plugin